.cgs_search {
	padding-top:100px;
	display: inline-block;
}

.cgs_search input {
	width: 600px;
	padding-left: 41px!important;
}

.ui.icon.input {
	margin-bottom:10px;
}
.store_name {
	font-size: 32px;
}

.store_city {
	margin-top: -10px;
	margin-bottom: -10px;
	font-size: 16px;
	color: #828282;
}

.xbox_image {
	top: 5.5px;
	left: 6.5px;
	position: absolute!important;
	cursor: pointer;
}

.result_table {
	margin-bottom:10px!important;
	margin-left:1px!important;
}

.result_table tr {
	cursor: pointer;
}

.store_name {
	padding-left:17px!important;
	padding-bottom:8px!important;
	color:#FFFFFF!important;
	background-color:#2C2C2C!important;
}

.th_game_url {
	width: 10%;
}

.th_game_price {
	width: 16%;
}

.game_price_label {
	margin-top: 6px!important;
}