
<!DOCTYPE html>
<html>
	<head>
		<title>Console game search</title>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="semantic/semantic.min.js"></script>

		<link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="cgs.css">
	</head>
	<body>
		<div class="ui main text container center aligned">
			<div class="ui loading search cgs_search">
				<div>

					<div id='app'>

						<div class="ui icon input">
							<img class="ui avatar image xbox_image" src="one.png">
							<input class="prompt" type="text" placeholder="Search game..." v-on:keyup.enter="fetch($event.target.value)">
							<i class="search icon" v-show="load_icon"></i>
						</div>


						<div v-for='search_result in cgs_data'>
							<table class="ui single line table selectable fixed result_table" v-for="store_data in search_result.result">
								<thead>
							    	<tr class="th_game_name"><th> <div class="ui large label">{{search_result.store}}</div></th>
							    	<th class="th_game_price"></th>
							    	<th class="th_game_url"></th>
							  		</tr>
							  	</thead>

					    		<tbody v-for='game in store_data'>
									<tr>
							      		<td href="/lol">
							        		<h4 class="ui image header">
							          			<img v-bind:src="game.game_img" class="ui mini rounded image">
							          			<div class="content">
							            			{{ game.game_name }} 
							            			<div class="sub header">{{game.game_city}}</div>
							        			</div>
							      			</h4>
							      		</td>
							      		<td>
							      			<div class="ui tag labels"><a class="ui label black game_price_label">{{game.game_price}}</a></div>
							      		</td>
							      		<td>
											<a class="ui icon button" v-bind:href="game.game_url"><i class="cart arrow down icon"></i></a>
							      		</td>
							    	</tr>  
					    		</tbody>
							</table>
						</div>


					</div>
				</div>
			</div>
		</div>
	</body>
</html>

<script src="cgs.js"></script>