
<!DOCTYPE html>
<html>
	<head>
		<title>Console game search</title>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="semantic/semantic.min.js"></script>

		<link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="cgs.css">
	</head>
	<body>
		<div class="ui main text container center aligned">
			<div class="ui loading search cgs_search">
				<div class="cgs_search_result">
					<div id='app'>

						<div class="ui icon input">
							<img class="ui avatar image xbox_image" src="one.png">
							<input class="prompt" type="text" placeholder="Search game..." v-on:keyup.enter="fetch($event.target.value)">
							<i class="search icon" v-show="load_icon"></i>
						</div>


							






						<div v-for='search_result in cgs_data'>
							<!-- mvideo results-->
							<table class="ui single line table selectable result_table" v-for="store_data in search_result.result">
								<thead>
							    	<tr><th><div class="ui ribbon label" style="background-color: #ed1c24; color: white">{{search_result.store}}</div></th>
							    	<th></th>
							    	<th></th>
							  		</tr>
							  	</thead>

					    		<tbody v-for='game in store_data'>
									<tr>
							      		<td href="/lol">
							        		<h4 class="ui image header">
							          			<img v-bind:src="game.game_img" class="ui mini rounded image">
							          			<div class="content">
							            			{{ game.game_name }} 
							            			<div class="sub header">{{game.game_city}}</div>
							        			</div>
							      			</h4>
							      		</td>
							      		<td>
							      			<h4>{{game.game_price}}</h4>
							      		</td>
							      		<td>
											<a class="ui icon button" v-bind:href="game.game_url"><i class="cart arrow down icon"></i></a>
							      		</td>
							    	</tr>  
					    		</tbody>
							</table>
						</div>



					</div>
				</div>
			</div>
		</div>
	</body>
</html>

<script src="cgs.js"></script>


<!-- <script id="template" type="text/jquery-tmpl">
  	<div class="item" style="white-space: nowrap;">
    	<img class="ui avatar image" src="{game_img}">
    	<div class="content"  style="text-overflow: ellipsis; width: 90%!important;overflow: hidden;">
      		<div class="header">{game_name}</div>
      		<div class="description">{game_price}₽</div>
    	</div>
  	</div>
</script>  -->